/* this is important for tailwind import */
/* @tailwind base;
@tailwind components;
@tailwind utilities; */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  --tw-bg-opacity: 1;
  /* background-color: rgb(17 24 39 / var(--tw-bg-opacity)); */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.individual {
  display: flex;
  flex-direction: row;
}

.welcome {
  font-size: 3rem;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  color: blue;
  /* background-color: red; */
}

.form {
  background-color: ivory;

  position: absolute;
  left: 50%;
  top: 50%;
  border: 3px solid grey;
  transform: translate(-50%, -50%);
}

input {
  border: 3px solid grey;
}

.text {
  /* border: 3px solid red; */
  /* display: inline; */
  margin: 15px;
  font-size: 2rem;

  /* height: 40px; */
}

.back {
  /* width: 40px; */
  /* height: 40px; */
  text-decoration: none;
}

.delete,
.edittodo {
  background-color: grey;
  border-radius: 50%;
  /* display: inline; */
  /* padding: 8px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* transform: translate(50%, 50%); */
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.complete .text {
  text-decoration: line-through;
}

a {
  text-decoration: none;
}

a:hover,
a:visited,
a:active {
  font-weight: 500;
  color: grey;
}

.addtodo {
  position: fixed;
  bottom: 70px;
  right: 70px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ROW {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}